@model Department

<h2> Update Department</h2>
<form action="/Departments/storeUpdata">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id">

        <label for="Name"> Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
        <label for="Description"> Description</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
    </div>

    <button type="submit" class="btn btn-warning mt-5">updata</button>
</form>